.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
}

.message{
display: flex;
flex-direction: column;
flex-basis: 70%;
margin-top: 100px;
  
}
.message input,textarea{
    display: inline-block;
    margin: 10px; 
    align-items: center;
    width: 30vw;
    height: 5vh;
}
.message textarea{
    height:8vh;
}
.message button{
    display: inline-block;
    align-items: center;
    width:9vw;
    height:7vh;
    margin: 10px;
    background-color: aqua;
}
.message label{
    margin: 10px;
}
.footer h5{
    color: white;
    align-items: center;
    font-size: larger;
}
.footer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer span{
    color: aqua;
}
@media (max-width:540px) {
    .message button{
        display: inline-block;
        align-items: center;
        width:20vw;
       
    } 
    .footer{    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    }
}