
.projects{
    padding: 10px 10%;
  
    
}


.social-icons ul a{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:20px;
    justify-content: space-between;
    width: 20px;
    color: aqua;
    flex-basis: 20%;
    
}

.social-icons ul a:hover{
    color: whitesmoke;
}
.project-icons{
/* display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
flex-wrap: wrap; */
display: grid;
grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
gap: 1rem; 
}
.project-icons image{
    width:100%;
    padding: 10px;
   
    
}
