
.projects{
    padding: 10px 10%;
}


.social-icons ul a{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:20px;
    justify-content: space-between;
    width: 20px;
    color: aqua;
    
}
.btn{
    align-items: center;
    width: 10%;
    height: 7vh;
    background: aqua;
    color: white
    
}
.h3{
    font-size: 54px;
}
.social-icons ul a:hover{
    color: whitesmoke;
}
.btn:hover{
    background-color: white;
    color: aqua;
}