.skills{
    padding: 10px 10%;
   

}
.skills p{
    font-size: 18px;
}

.image-1, .image-2{
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    /* background: white; */
    /* margin-bottom: 10px;
    border: 10px 10px;
    border-color: aquamarine;  */
    /* background-color: white;    */
    display: grid;
     grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
      gap: 1rem; 
    /* flex-wrap: wrap; */
}

h5{
    color: white;
    text-align: center;
}