body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  background: black;
  color:white;
  width: 100%;
  height: 1000vh;
 
  /* background-image: url(Images/IMG-20210219-WA0009.jpg);
  background-size: cover;
  background-position: center; */
}
.container{
  padding: 10px 10%;
  display: flex;
  flex-direction: row;
  align-items: centre;
  justify-content: space-between;
  flex-wrap: wrap;
}
.name{
  width:140px;
  color: aqua;
}

.link{
  display: inline;
  list-style: none;
  margin: 10px 20px;
  text-decoration: none;
  color: white;
  
}
.link:hover{
  background-color: aqua;
  color: black;
  
}

.home{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 10%; 
  margin-top: 10%;
  font-size: 30px;
}
.home img{
  width: 100%;
  
}
.home h1{
  font-size: 60px;
  margin-top: 20px;
}
.home h1 span{
  color:aqua
}

@media (max-width:940px) {
  .link{
    display: block;
    list-style: none;
    margin: 10px 20px;
    text-decoration: none;
    color: white;
    
  }
}
